<strong>Olá, {{ provider }}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>Cliente: {{ name }}</p>
<p>Data/hora: {{ date }}</p>
<br />
<br />
<p>Equipe GoBarber</p>

